---
import PageLayout from "../layouts/PageLayout.astro";
const pageTitle = "About Louise Høpfners";
const pageDescription = "This will be a description";
---

<PageLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <section id="about" class="container">
    <h2>About</h2>
  </section>
</PageLayout>
