---
import { Image } from "astro:assets";
import profileImage from "../assets/profile-square.png";
import dividerBlue from "../assets/Vectordivider-blue.svg";
---

<section class="container" id="intro">
  <div class="image-container">
    <Image
      class="animate pop"
      src={profileImage}
      alt="Painted image of Louise"
    />
  </div>
  <div class="introText">
    <p>
      Hi, I’m Louise <span
        class="fa-solid fa-hand-sparkles animate pop"
        aria-hidden="true"></span>
    </p>
    <h2>Frontend Developer & Educator</h2>

    <p>I'm a web developer specializing in all things frontend.</p>
    <p>
      Currently, I'm furthering my skills in CSS, JavaScript and frameworks like
      React, Next and Astro while also working as a project manager for digital
      projects of all shapes and sizes.
    </p><p>I love creating stuff and I love teaching.</p>
  </div>
</section>

<Image src={dividerBlue} alt="divider" />

<style>
  #intro {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

  .image-container {
    padding: 2rem 0 2rem 0;
  }

  #intro img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .introText [class*="fa-"] {
    color: var(--lilac);
  }

  .introText h2 {
    color: var(--lilac);
  }

  @media (min-width: 550px) {
    #intro {
      padding-top: 6rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 4%;
    }
    .image-container {
      flex-basis: 32%;
      order: 2;
    }

    .introText {
      flex-basis: 64%;
    }

    .introText h2 {
      font-size: 2.5rem;
    }
  }
  @media (min-width: 880px) {
    .introText h2 {
      font-size: 3rem;
    }
    .image-container {
      padding-top: 2rem;
    }
  }
</style>
