---
import "../styles/global.css";
import "@fontsource/oxygen";
import "@fontsource/paytone-one";

import { Fragment } from "astro/jsx-runtime";
import logo from "../assets/logo.svg?raw";

import Navigation from "../components/Navigation.tsx";
const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={pageDescription} />
    <title>{pageTitle}</title>
    <script
      src="https://kit.fontawesome.com/8e5d98ca53.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Navigation client:load>
      <Fragment set:html={logo} slot="logo" />
    </Navigation>
    <slot />
  </body>
</html>
